/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*全域設定*/

*,*::before,*::after{
    box-sizing: border-box;
}

body{
    font-family:"Bruno Ace SC", sans-serif;
	line-height: 1.5;
	color: #FFFFFF;
}

.container{
    width: 1296px;
    margin: 0 auto;
}

a{
	text-decoration: none;
	display: inline-block;
}

img{
	height: auto;
	vertical-align: middle;/*消除圖片下方空隙*/
}

/*通用樣式*/

.w-50{
	width: 50%;
}

.ml-a{
	margin-left: auto;
}

.pt-10{
	padding-top: 40px;
}

.pb-10{
	padding-bottom: 40px;
}

.pt-40{
	padding-top: 160px;
}

.pb-40{
	padding-bottom: 160px;
}

.fz-16{
	font-size: 64px;
}

.bg-black{
	background: #000000;
}

.d-f{
	display: flex;
}

.jc-sb{
	justify-content: space-between;
}

.ai-c{
	align-items: center;
}
.g-6{
	gap: 24px;
}


/* nav */

.nav-list{
	justify-content: space-between;
	align-items: center;
}

.nav-list a{
	color: #D1D1D1;
}

.nav-list a:hover{
	font-weight: 700;
}

.nav-list-btn{
	display: block;
	width: 278.5px;
}

/* header */

.header-img{
	padding-top: 72px;
	padding-bottom: 32px;

}
.header-text{
	margin-top: 232px;
	margin-bottom: 192px;
}

.header-subtitle{
	font-size: 128px;
	color: #00FFA3;
	text-align: right;
}

.header-btn {
	background:#FFFFFF;
	border-radius: 32px;
	padding: 12px 24px;
	color: #000000;
	display: inline-block;
	margin-left: auto;
}

/* intro */

.intro{
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
	width: 100%;
	background-repeat: no-repeat;/*避免背景斷層感*/
	background-size: cover;/*背景會盡量填滿容器*/
}

.intro-content-text{
	width: 526px;
}

.intro-p{
	font-size: 24px;
	padding-top: 36px;
	padding-bottom: 32px;
}

.intro-content-img{
	width: 746px;
}

.intro-content-img img{
	width:100% ;
}

/* about */

.about{
	color:#15161D ;
}

.about-list{
	flex-wrap:wrap ;
	width: 636px;
}

.about-text{
	width: 526px;
}

.about-list-item{
	width: 306px;
	padding: 16px;
	box-shadow: 4px 4px 4px 0px #00000014;
	border: 1px solid #E3E3E3
}

.about-h4{
	font-size: 20px;
}

.about-text h3{
	font-size: 64px;
	margin-bottom: 36px;
}

.about-text p{
	font-size: 24px;
}

/* contract */

.contract{
	background:linear-gradient(rgba(5, 0, 20, 1), rgba(1, 2, 30, 0.89));
	padding-top: 96px;
	padding-bottom: 96px;
}

.contract-text img{
	width: 100px;
	height: 100px;
}

.contract-text{
	gap: 16px;
	align-items: center;
}
.contract-text p{
	font-size: 64px;
}

.contract-img {
	gap: 20px;
}

.contract-img img{
	border-radius: 40px;
}
.contract-img img:hover{
	box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9);
	transition: 1s;/*慢慢發光的秒數*/
}

/* project */

.project{
	color: #000000;
}

.project-title{
	margin-left: 550px;
	margin-top: 16px;
}

.project-content-text{
	margin-bottom: 28px;
}

.project-content-p{
	flex-direction: column;
}

.project-content-btn{
	width: 185px;
	border-radius: 32px;
	background: #000000;
	gap: 4px;
}

.project-content-btn a{
	display: block;
	color: #FFFFFF;
	padding: 12px 12px 12px 24px;
}

/* footer */

.footer-text{
	text-align: center;
}