/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*全域設定*/

*,*::before,*::after{
    box-sizing: border-box;
	outline: rgb(243, 239, 239) solid 3px;
	

}

body{
    font-family:"Bruno Ace SC", sans-serif;
	line-height: 1.5;
	color: #FFFFFF;
	
	



}

.container{
    width: 1296px;
    margin: 0 auto;
}

a{
	text-decoration: none;

}

img{
	/*max-width: 100%;*/
	height: auto;
	display: block;
}

.w-50{
	width: 50%;
}
.ml-a{
	margin-left: auto;
}

.pt-10{
	padding-top: 40px;
}

.pb-10{
	padding-bottom: 40px;
}

.pt-40{
	padding-top: 160px;
}

.pb-40{
	padding-bottom: 160px;
}

.fz-16{
	font-size: 64px;
}



.bg-black{
	background: #000000;
}

.d-f{
	display: flex;
}

.jc-sb{
	justify-content: space-between;
}

.g-6{
	gap: 24px;
}


/* nav */


.nav-list{
	justify-content: space-between;
	align-items: center;
	
}

.nav-list a{
	color: #D1D1D1;
}


.nav-list-btn{
	display: block;
	width: 278.5px;
}



/* header */
.header-img{
	padding-top: 72px;
	padding-bottom: 32px;

}
.header-text{
	margin-top: 232px;
	margin-bottom: 192px;
}


.header-subtitle{
	font-size: 128px;
	color: #00FFA3;
	font-family: Bruno Ace SC;

}

.header-btn {
	background:#FFFFFF;
	width: 185px;
	border-radius: 32px;
	justify-content: center;
	gap: 4px;
	padding: 12px 24px;
	
}

eader-btn a{
	display: block;
	
	
}
	





/* intro */

.intro{
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
	width: 100%;
	
	
}


.intro-content-text{
	width: 526px;
}

.intro-p{
	font-size: 24px;
	padding-top: 36px;
	padding-bottom: 32px;
}

.intro-content-img{
	width: 746px;
}

.intro-content-img img{
	width:100% ;
	
}




/* about */
.about{
	color:#15161D ;
}

.about-list{
	flex-wrap:wrap ;
	padding-top: 46px; /*206px-160px(about-text的padding)*/
	padding-bottom: 46px;
	
}

.about-text{
	width: 526px;
}

.about-list-item{
	width: 306px;
}

.about-h4{
	font-size: 20px;

}

.about-text h3{
	font-size: 64px;
}

.about-text p{
	font-size: 24px;
}



/* contract */

.contract{
	background:linear-gradient(to bottom,#050014 100%, #01021EE3 89%);
	padding-top: 127px;
	padding-bottom: 127px;
}

.contract-text img{
	width: 100px;
	height: 100px;
	
	
}
.contract-text{
	gap: 16px;
	align-items: center;
}
.contract-text p{
	font-size: 64px;

}
.contract-img {
	gap: 20px;
}


/* project */

.project{
	color: #000000;
}










/* footer */